services:
  postgres:
    image: postgres
    restart: always
    shm_size: 128mb
    volumes:
      - directloan-db:/var/lib/postgresql/
    networks:
      - backend_network
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}

volumes:
  directloan-db:

networks:
  backend_network:
    external: true
    name: directloan_backend_network
