# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

COMPOSE_PROJECT_NAME=soliloan
DOCKER_IMAGE_TAG=dev
ENVIRONMENT=dev

# Postgres
# https://hub.docker.com/_/postgres/
POSTGRES_DB=soliloan
POSTGRES_PASSWORD=your_secure_postgres_password
POSTGRES_USER=postgres

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}"
NEXTAUTH_SECRET="your_nextauth_secret_key_here"
NEXTAUTH_URL="https://soliloan.localhost"
NEXTAUTH_URL_INTERNAL="http://soliloan:3000"

SOLILOAN_DOMAIN="your-domain.com"
SOLILOAN_PROJECT_NAME="Your Project Name"
SOLILOAN_URL="https://soliloan.localhost"
SOLILOAN_ADMIN_EMAIL="admin@your-domain.com"
SOLILOAN_ADMIN_PASSWORD="your_admin_password"
SOLILOAN_DEFAULT_LANGUAGE="de"

# SMTP Configuration
SMTP_HOST="smtp.your-provider.com"
SMTP_PORT="587"
SMTP_USER="your-email@your-domain.com"
SMTP_PASSWORD="your_smtp_app_password"
SMTP_FROM="your-email@your-domain.com"
