services:
  traefik:
    image: traefik:v3.6.4
    restart: always
    ports:
      - 80:80
      - 443:443
      - 8080:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
      - ./dynamic-config.yml:/etc/traefik/dynamic/config.yml:ro
      - ./certs:/etc/traefik/certs
    networks:
      - traefik_network

networks:
  traefik_network:
    external: true
    name: directloan_traefik_network
